.desc{
    display: flex;
    align-items: center;
    padding: 0 42px;
}
p{
    font-size: 15px;
    color: #635545;
    flex: 1;
}
button{
    width: 98px;
    height: 44px;
    border-radius: 4px;
    background-color: #8f7a66;
    font-size: 14px;
    color: #fff;
    font-weight: 700px;
    font-family: Arial-Black;
    text-align: center;
    line-height: 44px;
    cursor: pointer;
}